@import "tailwindcss";


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  --font-roboto: var(--font-roboto);
  --font-secondary: var(--font-roboto);

  /* Brand Colors */
  --color-red-primary: #db1a1a;
  --color-red-secondary: #FFF6F6;
  --color-red-tertiary: #8CC7C4;
  --color-red-neutral: #2C687B;

  --color-orange-primary: #fe7743;
  --color-orange-secondary: #efeeea;
  --color-orange-tertiary: #273f4f;
  --color-orange-neutral: #000000;
  
  --color-pink-primary: #f875aa;
  --color-pink-secondary: #fdeded;
  --color-pink-tertiary: #edfff0;
  --color-pink-neutral: #aedefc;

  --color-danger: #eb5353;
  --color-success: #36ae7c;
  --color-warning: #f9d923;
  --color-info: #187498;

  --color-lightdark-primary: #f7f7f7;
  --color-lightdark-secondary: #eeeeee;
  --color-lightdark-tertiary: #393e46;
  --color-lightdark-neutral: #929aab;

  --color-blue-primary: #2F2FE4;
  --color-blue-secondary: #162E93;
  --color-blue-tertiary: #1A1953;
  --color-blue-neutral: #080616;

  --color-green-primary: #1F6F5F;
  --color-green-secondary: #2FA084;
  --color-green-tertiary: #6FCF97;
  --color-green-neutral: #EEEEEE;

  --color-yellow-primary: #F6F1E9;
  --color-yellow-secondary: #FFD93D;
  --color-yellow-tertiary: #FF9A00;
  --color-yellow-neutral: #4F200D;
  
  

  
  
}

:root {
  --background: var(--color-lightdark-tertiary);
  --foreground: var(--color-lightdark-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-lightdark-primary);
    --foreground: var(--color-lightdark-tertiary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

