@import "tailwindcss";


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  --font-roboto: var(--font-roboto);
  --font-secondary: var(--font-roboto);

  /* Brand Colors */
  --color-red-primary: #db1a1a;
  --color-red-secondary: #FFF6F6;
  --color-red-tertiary: #8CC7C4;
  --color-red-neutral: #2C687B;



  --color-danger: #eb5353;
  --color-success: #36ae7c;
  --color-warning: #f9d923;
  --color-info: #187498;

  --color-lightdark-primary: #f7f7f7;
  --color-lightdark-secondary: #eeeeee;
  --color-lightdark-tertiary: #393e46;
  --color-lightdark-neutral: #929aab;


  
  

  
  
}

:root {
  --background: var(--color-lightdark-tertiary);
  --foreground: var(--color-lightdark-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-lightdark-primary);
    --foreground: var(--color-lightdark-tertiary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

